body{
  background-color: rgba(15, 169, 129, 1);
}

 #blackjack-table {
  display: block;
  background-image: url('/Users/vvt941/Documents/developer/week7/unit-1-project/blackjack/images/blackjack_table.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 900px;
  height: 1000px;
  margin: 0 auto;
}

 h1 {
   text-align: center;
   display: block;
 }

ul {
  list-style: none;
}

#wager-balance{
  margin: 0 auto;
  width: 50%;
}

form {
  display: block;
  margin: 0 auto;
  width: 75%;
}

#wage-value {
  display: block;
  margin: 0 auto;
  width: 250px;
  padding: 10px;
  background-color: white;
}

#submit-button{
  display: block;
  margin: 0 auto;
}

.buttons {
  margin-left: 40%;
}

.Dealer {
  text-align: center;
  font-size: 1.75em;
  color: white;
}

#playerCards {
  display: flex;
  height: 200px;
  width: 600px;
  margin: 0 auto;
}

h4{
  text-align: center;
  font-family: 'Anton', sans-serif;
  margin-top: 5px;
  color: white;
}

#dealerCard{
  display: flex;
  height: 200px;
  width: 600px;
  margin: 0 auto;
}
#first-card {
  display: block;
}
#card-one {
  display: block;
  width: 25%;
  height: 100%;
  float:left;
}
#card-two {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
}

#card-hit {
  display: block;
  width: 25%;
  height: 100%;
  float: left;
}

#shown-DealerCard {
  display: block;
  width: 25%;
  height: 100%;
}

#hidden-DealerCard {
  display: block;
  width: 25%;
  height: 100%;
}

li {
  display: block;
  margin: 0 auto;
  width: 25%;
  text-align: center;
}

.nav-wrapper {
  display: flex;
  width: 75%;
  margin: 0 auto;
  position: fixed;
}

ul {
  display: block;
  margin: 0 auto;
  width: 100%;
}
nav {
  display: block;
}


/* Images for the card suits and the values*/
